<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado de tipo media</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
        }

        h2 {
            color: #4b0082;
            margin-left: 20px;
        }

        .navigation {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .navigation a {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin: 0 10px;
        }

        .navigation a:hover {
            background-color: #6a5acd;
        }

        section {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #8a2be2;
            color: white;
        }

        td {
            background-color: #e6e6fa;
        }

        td a {
            color: #4b0082;
        }

        td img {
            display: block;
            margin: 0 auto;
        }

        i.fas {
            font-size: 20px;
        }

        span {
            display: block;
            margin: 20px 0;
            text-align: center;
            font-weight: bold;
            color: #4b0082;
        }
    </style>

</head>
<body>
<h1>Tipo Media</h1>
<h2>Listado</h2>

<section>
    <table>
        <tr>
            <th> Orden </th>
            <th> Nombre </th>
            <th> Activo </th>

        </tr>
        {{#each tipomedia}}
            <tr>
                <td> {{nro_orden}} </td>
                <td> {{nombre}} </td>
                <td>{{#if activo}}
                    <span>Activo</span>
                {{else}}
                    <span>Inactivo</span>
                {{/if}}</td>

            </tr>
        {{/each}}
    </table>
    <section>
        {{#if tipomedia.length}}
            <span>Total de tipos de media: {{tipomedia.length}}</span>
        {{else}}
            <span>No hay tipos de media registrados</span>
        {{/if}}
    </section>

</section>
<nav class="navigation">
    <a href="/admin">Volver</a>
    <a href="/admin/tipomedia/crear">Crear nuevo</a>
</nav>

</body>
</html>


