<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página Administrativa - Inicio </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column; /* Añade flex-direction: column para apilar elementos verticalmente */
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 20px;
            width: 300px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a {
            text-decoration: none;
            color: #4b0082;
            font-size: 18px;
        }

        h1 {
            background-color: #f0f0f5;
            color: purple;
            padding: 20px;
            text-align: center;
        }

        .btn-volver {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>Tablas</h1>
<div class="container">
    <div class="card">
        <a href="/admin/integrante/listar">Integrantes</a>
    </div>
    <div class="card">
        <a href="/admin/media/listar">Media</a>
    </div>
    <div class="card">
        <a href="/admin/tipomedia/listar">Tipo Media</a>
    </div>
</div>
<a href="/" class="btn-volver">Volver</a>
</body>
</html>