<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Media</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
        }

        h2 {
            color: #4b0082;
            margin-left: 20px;
        }

        section {
            padding: 20px;
        }

        form {
            background-color: #e6e6fa;
            padding: 20px;
            border-radius: 5px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        select, input[type="text"], input[type="radio"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"], .btn {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            display: inline-block;
            text-decoration: none;
            text-align: center;
        }

        input[type="submit"]:hover, .btn:hover {
            background-color: #6a5acd;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            text-align: center;
            color: white;
            text-decoration: none;
        }

        .btn-volver {
            background-color: #4b0082;
            margin-right: 10px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const selectTipoMedia = document.getElementById("id_tmedia");
            const inputUrl = document.getElementById("url");
            const inputSrc = document.getElementById("src");

            // Función para deshabilitar o habilitar campos según el tipo de media seleccionado
            function toggleCampos() {
                const tipoMediaSeleccionado = selectTipoMedia.value;
                if (tipoMediaSeleccionado === "1") { // Imagen seleccionada
                    inputUrl.disabled = true;
                    inputSrc.disabled = false;
                } else if (tipoMediaSeleccionado === "2") { // Video seleccionado
                    inputUrl.disabled = false;
                    inputSrc.disabled = true;
                } else if (tipoMediaSeleccionado === "3") { // Dibujo seleccionado
                    inputUrl.disabled = true;
                    inputSrc.disabled = false;
                }
            }

            // Evento de cambio en el select para actualizar los campos
            selectTipoMedia.addEventListener("change", toggleCampos);

            // Llama a toggleCampos una vez para establecer el estado inicial
            toggleCampos();
        });
    </script>

</head>
<body>
<!-- views/admin/media/crearMedia.handlebars -->
<h1>Crear Nuevo Media</h1>
<a href="/admin/media/listar" class="btn btn-volver">Volver al listado de media</a>
<form action="/admin/media/create" method="POST" enctype="multipart/form-data">
    <label for="id_tmedia">Tipo de Media:</label>
    <select id="id_tmedia" name="id_tmedia" >
        <option value="1">Imagen</option>
        <option value="2">Video</option>
        <option value="3">Dibujo</option>
    </select><br><br>


    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" ><br><br>

    <label for="url">URL:</label>
    <input type="text" id="url" name="url"><br><br>

    <td style="text-align: center">
        {{#if src}}
            <a href="{{src}}" target="_blank">
                <img src="{{src}}" alt="{{alt}}" title="{{titulo}}" height=60px width="80px">
            </a>
        {{else}}
            <div style="text-align: center">
                <i class="fas fa-minus" style="color: gray"></i>
            </div>
        {{/if}}

    <label for="matricula">Matrícula del integrante:</label>
    <select id="matricula" name="matricula" >
        {{#each integrantes}}
            <option value="{{this.matricula}}">{{this.nombre}} {{this.apellido}}</option>
        {{/each}}
    </select><br><br>

    <label for="activo">Activo:</label>
    <input type="checkbox" id="activo" name="activo" value="1" checked><br><br>

    <input type="submit" value="Crear Media">
</form>

</body>
</html>