<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado de media</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
        }

        h2 {
            color: #4b0082;
            margin-left: 20px;
        }

        .navigation {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .navigation a {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin: 0 10px;
        }

        .navigation a:hover {
            background-color: #6a5acd;
        }

        section {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #8a2be2;
            color: white;
        }

        td {
            background-color: #e6e6fa;
        }

        td a {
            color: #4b0082;
        }

        td img {
            display: block;
            margin: 0 auto;
        }

        i.fas {
            font-size: 20px;
        }

        span {
            display: block;
            margin: 20px 0;
            text-align: center;
            font-weight: bold;
            color: #4b0082;
        }
    </style>

</head>
<body>
<h1>Media</h1>
<h2>Listado</h2>
<nav class="navigation">
    <a href="/admin">Volver</a>
    <a href="/admin/media/crear">Crear nuevo</a>
</nav>

<section>
    <table>
        <tr>

            <th>Orden</th>
            <th>Nombre</th>
            <th>Url</th>
            <th>Src</th>
            <th>titulo</th>
            <th>Integrante</th>
            <th>Matricula</th>



        </tr>
        {{#each media}}
            <tr>

                <td> {{nro_orden}} </td>
                <td> {{nombre}} </td>
                <td>
                {{#if url}}
                    <a href="{{url}}" target="_blank">{{url}}</a>
                {{else}}
                    <div style="text-align: center">
                        <i class="fas fa-minus" style="color: gray"></i>
                    </div>
                {{/if}}
                </td>
                <td>
                {{#if src}}
                    <img style="height: 75px; width: 75px;" src="{{src}}" alt="imagen">
                {{else}}
                    <div style="text-align: center">
                        <i class="fas fa-minus" style="color: gray"></i>
                    </div>
                {{/if}}
                </td>
                <td> {{titulo}} </td>
                <td>{{integranteNombre}}</td>
                <td>{{matricula}}</td>

            </tr>
        {{/each}}
    </table>
    <section>
        {{#if media.length}}
            <span>Total de media: {{media.length}}</span>
        {{else}}
            <span>No hay media registrados</span>
        {{/if}}
    </section>

</section>


</body>
</html>